@charset "utf-8";

/*
 * width:1248pxを基準として考える。パララックスのパーツは基本的にはheight:936px
 */

.container {
  position: relative;
  width: 100vw;
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container {
  position: relative;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

.parallax-parts {
  position: absolute;
  width: 100vw;
  height: 75vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kotomusubi-logo {
  position: absolute;
  left: 50%;
  top: 8vw;
  width: 12vw;
  height: 34vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/secondView/kotomusubi-logo.png);
  transform: translateX(-6vw);
}

.kumo-1-2 {
  background-image: url(../images/secondView/kumo-1-2.png);
}

.kumo-1-1 {
  background-image: url(../images/secondView/kumo-1-1.png);
}

.haikei-huji {
  right: -4vw;
  top: -19vw;
  background-image: url(../images/secondView/haikei-huji.png);
}

.kumo-2-2 {
  top: -1vw;
  background-image: url(../images/secondView/kumo-2-2.png);
}

.kumo-2-1 {
  top: -1vw;
  background-image: url(../images/secondView/kumo-2-1.png);
}

.background-haikei {
  top: -13vw;
  background-image: url(../images/secondView/background-haikei.png);
}

.background-tyukei {
  top: -10vw;
  background-image: url(../images/secondView/background-tyukei.png);
}

.background-zenkei {
  top: -3vw;
  background-image: url(../images/secondView/background-zenki.png);
}

.forest {
  top: 5vw;
  background-image: url(../images/secondView/forest.png);
}

.iwayama-zenkei {
  background-image: url(../images/secondView/iwayama-zenkei.png);
}

.inu-zenkei {
  background-image: url(../images/secondView/inu-zenkei.png);
}

.genjigumo {
  top: 55vw;
  height: 75vw;
  background-image: url(../images/secondView/genjigumo.png);
}

/**
*テキストエリア
*/
.textarea {
  text-align: center;
}

.textarea h1 {
  color: #a33f2c;
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 2vw;
}

.first-text h2 {
  margin-top: 30vw;
  font-size: 2.5vw;
  line-height: 8vw;
}

.second-text {
  margin: 20vw auto 15vw;
}

.second-text h2 {
  font-size: 1.65vw;
  line-height: 3vw;
}

.capture {
  margin: auto;
  width: 50vw;
  height: 35vw;
  background-image: url(../images/secondView/rule-image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.rule-text {
  margin: 7.5vw auto;
}

.button {
  width: 34vw;
  height: 8.4vw;
  margin-bottom: 15vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/secondView/button.png);
}

a {
  text-decoration: none;
}
a:hover {
}
.button h1 {
  color: #fff;
  font-weight: normal;
  padding-top: 3vw;
}

.footer {
  padding: 1vw;
  font-size: 1vw;
  text-align: center;
}
